.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}
.wrapper button {
  padding: 10px 20px;
  border-radius: 20%;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.accordian {
  width: 500px;
}
.item {
  background: black;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: white;
  height: auto;
}
.question {
  text-align: left;
}
